<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="initial-scale=1">
<title>{{title}}{{#if description}} &#8212; {{description}}{{/if}}</title>
<style>

.back-to-top {
    display: none;
    position: fixed;
    right: 1em;
    bottom: 1em;
    z-index: 999;
}

.back-to-top a {
    display: block;
    padding: .5em;
    line-height: 1em;
    border-radius: .25em;
    background-color: #fff;
}

.menu {
    margin: 1.5em 0 0 0;
    padding: 0;
}

.menu li {
    list-style: none;
}

.menu li a {
    display: block;
    padding: .25em;
}

.menu li ul {
    margin: .25em 0 .25em 1em;
    padding: 0;
}

.menu .scope-private {
    opacity: 0.5;
}

.method h2 {
    text-overflow: ellipsis;
    overflow: hidden;
}

.permalink {
    position: absolute;
    margin-left: -.75em;
    font-weight: normal;
    color: #eee;
}

.permalink:hover {
    color: #666;
    text-decoration: none;
}

.bs-footer {
    margin: 50px auto;
    color: #777;
    text-align: center;
}

pre .hljs {
    padding: 0;
    background: none;
}

</style>
<script>
(function(e,i,o){"use strict";var t=e.location.protocol==="file:"?"http:":e.location.protocol,c=["//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css","//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.1/styles/github.min.css","//code.jquery.com/jquery-2.1.1.js","//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.1/highlight.min.js"];function s(e){var l;if(e.match(/\.js$/)){l=i.createElement("script");l.setAttribute("src",t+e)}else if(e.match(/\.css$/)){l=i.createElement("link");l.setAttribute("rel","stylesheet");l.setAttribute("href",t+e)}l.addEventListener("load",function(){if(c.length){s(c.shift())}else{if($.isReady){o()}else{$(document).ready(o)}}});i.head.appendChild(l)}s(c.shift())})(window,document,function(){var e=window.location.hash,i=$('[id="'+e.replace(/#/,"")+'"]'),o=$(".code"),t=$(".scope-private"),c=$(".toggle-code-blocks");$toggle_private=$(".toggle-private"),$backToTop=$(".back-to-top");function s(){if(window.scrollY>100&&$backToTop.not(":visible")){$backToTop.fadeIn()}else if(window.scrollY<100&&$backToTop.is(":visible")){$backToTop.fadeOut()}}c.on("click",function(){if(c.is(":checked")){o.show()}else{o.hide()}});$toggle_private.on("click",function(){if($toggle_private.is(":checked")){t.show()}else{t.hide()}});o.hide();t.hide();if(i.length&&!i.is(":visible")){$toggle_private.trigger("click")}$(".examples pre code, .code pre code").each(function(){hljs.highlightBlock(this)});$(window).on("scroll",s);s()});
</script>
</head>

<body>

<div class="back-to-top"><a href="#">⬆ Back to Top</a></div>

<div class="wrap">

    <div class="container">

        <div class="page-header">

            <div class="pull-right hidden-sm hidden-xs">

                <div>
                    <label>
                        <input type="checkbox" name="toggle-code" class="toggle-code-blocks">
                        Toggle Code Blocks
                    </label>
                </div>
                <div>
                    <label>
                        <input type="checkbox" name="toggle-private" class="toggle-private">
                        Toggle Private Methods
                    </label>
                </div>

            </div>

            <h1>{{title}}{{#if description}} <small>{{description}}</small>{{/if}}</h1>

        </div>

        <div class="row">

            <div class="col-md-3 hidden-sm hidden-xs">

                <ul class="menu">

                    {{#each files}}

                    <li>
                        <b>{{name}}</b>
                        <ul>

                        {{#each methods}}

                            {{#unless ignore}}

                                {{#if ctx}}

                                    <li class="scope-{{#if isPrivate}}private{{else}}public{{/if}}">
                                        <a href="#{{ctx.uid}}">{{formatName ctx.string}}</a>
                                    </li>

                                {{/if}}

                            {{/unless}}

                        {{/each}}

                        </ul>

                    </li>

                    {{/each}}

                </ul>

            </div>

            <div class="col-md-9">

                {{#each files}}

                {{#each methods}}

                    {{#unless ignore}}

                        {{#if ctx}}

                            <div class="method scope-{{#if isPrivate}}private{{else}}public{{/if}}">

                                {{registerContext this}}

                                <h2 id="{{ctx.uid}}">
                                    <a href="#{{ctx.uid}}" class="permalink">#</a> {{formatName ctx.string}}
                                    {{#if isPrivate}}
                                    <small>private method</small>
                                    {{/if}}
                                </h2>

                                {{{description.summary}}}

                                {{#each tags}}{{#ifCond type "param"}}
                                {{registerVariable "displayParameters" true}}
                                {{/ifCond}}{{/each}}

                                {{#if displayParameters}}

                                <section class="parameters">

                                    <h3>Parameters</h3>

                                    {{#each tags}}

                                        {{#ifCond type "param"}}

                                            <p>
                                                <b>{{name}}</b>
                                                {{#each types}}
                                                    <code>{{.}}</code>
                                                {{/each}}
                                                {{#if optional}}
                                                    <span class="label label-default">Optional</span>
                                                {{/if}}
                                            </p>
                                            <p>{{{description}}}</p>

                                        {{/ifCond}}

                                    {{/each}}

                                </section>

                                {{/if}}

                                {{#each tags}}{{#ifCond type "property"}}
                                {{registerVariable "displayProperties" true}}
                                {{/ifCond}}{{/each}}

                                {{#if displayProperties}}

                                <section class="properties">

                                    <h3>Properties</h3>

                                    {{#each tags}}

                                        {{#ifCond type "property"}}

                                            <p>
                                                <b>{{name}}</b>
                                                {{#each types}}
                                                    <code>{{.}}</code>
                                                {{/each}}
                                                {{#if optional}}
                                                    <span class="label label-default">Optional</span>
                                                {{/if}}
                                            </p>
                                            <p>{{{description}}}</p>

                                        {{/ifCond}}

                                    {{/each}}

                                </section>

                                {{/if}}

                                {{#if description.body}}

                                <section class="examples">

                                    <h3>Examples</h3>

                                    {{{description.body}}}

                                </section>

                                {{/if}}

                                <section class="code">

                                    <h3>Code</h3>

                                    <pre><code>{{code}}</code></pre>

                                </section>

                                <h3>Returns</h3>

                                {{#each tags}}

                                    {{#ifCond type "return"}}

                                        <p>{{#each types}}<code>{{.}}</code> {{/each}} {{{description}}}</p>

                                    {{/ifCond}}

                                {{/each}}

                            </div>

                        {{/if}}

                    {{/unless}}

                {{/each}}

                {{/each}}

            </div>

        </div>

    </div>

</div>

<footer class="bs-footer">

    <div class="container">

        <p>Documentation generated with <a href="https://github.com/neogeek/doxdox">doxdox</a>.</p>

    </div>

</footer>

</body>
</html>
