<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="initial-scale=1">
<title>{{title}}{{#if description}} &#8212; {{description}}{{/if}}</title>
<style>

.back-to-top {
    display: none;
    position: fixed;
    right: 1em;
    bottom: 1em;
    z-index: 999;
}

.back-to-top a {
    display: block;
    padding: .5em .5em .5em 1.5em;
    line-height: 1em;
    border-radius: .25em;
    background: #fff url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxM3B4IiBoZWlnaHQ9IjE0cHgiIHZpZXdCb3g9IjAgMCAxMyAxNCI+CiAgICA8cGF0aCBkPSJNNy4xODc2MTE1NiwxMyBMNy4xODc2MTE1Niw1LjQ5MjQ5NzAzIEwxMC40NTg3ODUzLDUuNDkyNDk3MDMgTDUuMDk5MzE3NjMsMC4xMTM1NTgxMjkgTC0wLjI2MDE1LDUuNDkyNDk3MDMgTDMuMDExMDIzNzEsNS40OTI0OTcwMyBMMy4wMTEwMjM3MSwxMyBMNy4xODc2MTE1NiwxMyBaIiBmaWxsPSIjNDI4YmNhIj48L3BhdGg+Cjwvc3ZnPgo=) no-repeat .5em center;
}

.menu {
    margin: 1.5em 0 0 0;
    padding: 0;
}

.menu li {
    list-style: none;
}

.menu li a {
    display: block;
    padding: .25em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.menu li ul {
    margin: .25em 0 .25em 1em;
    padding: 0;
}

.menu .scope-private {
    opacity: 0.5;
}

.method h2 {
    line-height: 1.3em;
    text-overflow: ellipsis;
    overflow: hidden;
}

.permalink {
    position: absolute;
    margin-left: -.75em;
    font-weight: normal;
    color: #eee;
}

.permalink:hover {
    color: #666;
    text-decoration: none;
}

.bs-footer {
    margin: 50px auto;
    color: #777;
    text-align: center;
}

pre .hljs {
    padding: 0;
    background: none;
}

</style>
<script>
(function(e,t,i){"use strict";var o=e.location.protocol==="file:"?"http:":e.location.protocol,s=["//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css","//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/styles/github.min.css","//code.jquery.com/jquery-2.1.1.js"];function c(e){var l;if(e.match(/\.js$/)){l=t.createElement("script");l.setAttribute("src",o+e)}else if(e.match(/\.css$/)){l=t.createElement("link");l.setAttribute("rel","stylesheet");l.setAttribute("href",o+e)}l.addEventListener("load",function(){if(s.length){c(s.shift())}else{if($.isReady){i()}else{$(document).ready(i)}}});t.head.appendChild(l)}c(s.shift())})(window,document,function(){"use strict";var e=window.location.hash,t=$('[id="'+e.replace(/#/,"")+'"]'),i=$(".code"),o=$(".scope-private"),s=$(".toggle-code-blocks"),c=$(".toggle-private"),l=$(".back-to-top");function n(){if(window.scrollY>100&&l.not(":visible")){l.fadeIn()}else if(window.scrollY<100&&l.is(":visible")){l.fadeOut()}}s.on("click",function(){if(s.is(":checked")){i.show()}else{i.hide()}});c.on("click",function(){if(c.is(":checked")){o.show()}else{o.hide()}});i.hide();o.hide();if(t.length&&!t.is(":visible")){c.trigger("click")}$(window).on("scroll",n);n()});
</script>
</head>

<body>

<div class="back-to-top"><a href="#">Back to Top</a></div>

<div class="wrap">

    <div class="container">

        <div class="page-header">

            <div class="pull-right hidden-sm hidden-xs">

                <div>
                    <label>
                        <input type="checkbox" name="toggle-code" class="toggle-code-blocks">
                        Toggle Code Blocks
                    </label>
                </div>
                <div>
                    <label>
                        <input type="checkbox" name="toggle-private" class="toggle-private">
                        Toggle Private Methods
                    </label>
                </div>

            </div>

            <h1>{{title}}{{#if description}} <small>{{description}}</small>{{/if}}</h1>

        </div>

        <div class="row">

            <div class="col-md-3 hidden-sm hidden-xs">

                <ul class="menu">

                    {{#each files}}

                    <li>
                        <b>{{name}}</b>
                        <ul>

                        {{#each methods}}

                        <li class="scope-{{#if isPrivate}}private{{else}}public{{/if}}">
                            <a href="#{{uid}}" title="{{name}}">{{name}}</a>
                        </li>

                        {{/each}}

                        </ul>

                    </li>

                    {{/each}}

                </ul>

            </div>

            <div class="col-md-9">

                {{#each files}}

                {{#each methods}}

                    <div class="method scope-{{#if isPrivate}}private{{else}}public{{/if}}">

                        <h2 id="{{uid}}">
                            <a href="#{{uid}}" class="permalink">#</a> {{name}}
                            {{#if isPrivate}}
                            <small>private {{type}}</small>
                            {{/if}}
                        </h2>

                        {{{markdown description}}}

                        {{#if tags.param.length}}

                        <section class="parameters">

                            <h3>Parameters</h3>

                            {{#each tags.param}}

                                <p>
                                    <b>{{name}}</b>
                                    {{#each types}}
                                        <code>{{.}}</code>
                                    {{/each}}
                                    {{#if isOptional}}
                                        <span class="label label-default">Optional</span>
                                    {{/if}}
                                </p>
                                {{{markdown description}}}

                            {{/each}}

                        </section>

                        {{/if}}

                        {{#if tags.property.length}}

                        <section class="property">

                            <h3>Properties</h3>

                            {{#each tags.property}}

                                <p>
                                    <b>{{name}}</b>
                                    {{#each types}}
                                        <code>{{.}}</code>
                                    {{/each}}
                                    {{#if isOptional}}
                                        <span class="label label-default">Optional</span>
                                    {{/if}}
                                </p>

                                {{{markdown description}}}

                            {{/each}}

                        </section>

                        {{/if}}

                        {{#if tags.example.length}}

                        <section class="examples">

                            <h3>Examples</h3>

                            {{#each tags.example}}

                                <pre><code class="hljs javascript">{{{highlightBlock .}}}</code></pre>

                            {{/each}}

                        </section>

                        {{/if}}

                        {{#if code}}

                        <section class="code">

                            <h3>Code</h3>

                            <pre><code class="hljs javascript">{{{highlightBlock code}}}</code></pre>

                        </section>

                        {{/if}}

                        <section class="returns">

                            <h3>Returns</h3>

                            {{#if tags.return.length}}

                                {{#each tags.return}}

                                    <p>
                                        {{#each types}}
                                            <code>{{.}}</code>
                                        {{/each}}
                                        {{#if isOptional}}
                                            <span class="label label-default">Optional</span>
                                        {{/if}}
                                    </p>

                                    {{{markdown description}}}

                                {{/each}}

                            {{else}}

                            <p><code>Void</code></p>

                            {{/if}}

                        </section>

                    </div>

                {{/each}}

                {{/each}}

            </div>

        </div>

    </div>

</div>

<footer class="bs-footer">

    <div class="container">

        <p>Documentation generated with <a href="https://github.com/neogeek/doxdox">doxdox</a>.</p>

    </div>

</footer>

</body>
</html>
