<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="initial-scale=1">
<title>{{title}}{{#if description}} - {{description}}{{/if}}</title>
<style>

.method h2 {
    text-overflow: ellipsis;
    overflow: hidden;
}

.permalink {
    position: absolute;
    margin-left: -25px;
    font-weight: normal;
    color: #eee;
}

.permalink:hover {
    color: #666;
    text-decoration: none;
}

.bs-footer {
    margin: 50px auto;
    color: #777;
    text-align: center;
}

pre .hljs {
    padding: 0;
    background: none;
}

</style>
<script>
(function(e,t,i){"use strict";var s=e.location.protocol==="file:"?"http:":e.location.protocol,c=["//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css","//cdn.jsdelivr.net/highlight.js/8.0/styles/github.css","//cdn.jsdelivr.net/highlight.js/8.0/highlight.min.js","//cdn.jsdelivr.net/jquery/2.1.1/jquery.min.js"];c.forEach(function(e){var o;if(e.match(/\.js$/)){o=t.createElement("script");o.setAttribute("src",s+e)}else if(e.match(/\.css$/)){o=t.createElement("link");o.setAttribute("rel","stylesheet");o.setAttribute("href",s+e)}o.addEventListener("load",function(){if(this.hasAttribute("src")){c.splice(c.indexOf(this.getAttribute("src")),1)}else if(this.hasAttribute("href")){c.splice(c.indexOf(this.getAttribute("href")),1)}if(!c.length){if($.isReady){i()}else{$(document).ready(i)}}});t.head.appendChild(o)})})(window,document,function(){var e=window.location.hash,t=$('[id="'+e.replace(/#/,"")+'"]'),i=$(".code"),s=$(".scope-private"),c=$(".toggle-code-blocks");$toggle_private=$(".toggle-private");c.on("click",function(){if(c.is(":checked")){i.show()}else{i.hide()}});$toggle_private.on("click",function(){if($toggle_private.is(":checked")){s.show()}else{s.hide()}});i.hide();s.hide();if(t.length&&!t.is(":visible")){$toggle_private.trigger("click")}$(".examples pre code, .code pre code").each(function(){hljs.highlightBlock(this)})});
</script>
</head>

<body>

<div class="wrap">

    <div class="container">

        <div class="page-header">

            <div class="pull-right hidden-sm hidden-xs">

                <div>
                    <label>
                        <input type="checkbox" name="toggle-code" class="toggle-code-blocks">
                        Toggle Code Blocks
                    </label>
                </div>
                <div>
                    <label>
                        <input type="checkbox" name="toggle-private" class="toggle-private">
                        Toggle Private Methods
                    </label>
                </div>

            </div>

            <h1>{{title}}{{#if description}} <small>{{description}}</small>{{/if}}</h1>

        </div>

        <div class="row">

            <div class="col-md-3 hidden-sm hidden-xs">

                <ul class="nav">

                    {{#each files}}

                    <li>{{name}}</li>

                    {{#each methods}}

                        {{#unless ignore}}

                            {{#if ctx}}

                                <li class="scope-{{#if isPrivate}}private{{else}}public{{/if}}">
                                    <a href="#{{formatId ctx.string}}">{{formatName ctx.string}}</a>
                                </li>

                            {{/if}}

                        {{/unless}}

                    {{/each}}

                    {{/each}}

                </ul>

            </div>

            <div class="col-md-9">

                {{#each files}}

                {{#each methods}}

                    {{#unless ignore}}

                        {{#if ctx}}

                            <div class="method scope-{{#if isPrivate}}private{{else}}public{{/if}}">

                                {{registerContext this}}

                                <h2 id="{{formatId ctx.string}}">
                                    <a href="#{{formatId ctx.string}}" class="permalink">#</a> {{formatName ctx.string}}
                                    {{#if isPrivate}}
                                    <small>private method</small>
                                    {{/if}}
                                </h2>

                                {{{description.summary}}}

                                {{#each tags}}{{#ifCond type "param"}}
                                {{registerVariable "displayParameters" true}}
                                {{/ifCond}}{{/each}}

                                {{#if displayParameters}}

                                <section class="parameters">

                                    <h3>Parameters</h3>

                                    {{#each tags}}

                                        {{#ifCond type "param"}}

                                            <p>
                                                <b>{{name}}</b>
                                                {{#each types}}
                                                    <code>{{.}}</code>
                                                {{/each}}
                                                {{#if optional}}
                                                    <span class="label label-default">Optional</span>
                                                {{/if}}
                                            </p>
                                            <p>{{{description}}}</p>

                                        {{/ifCond}}

                                    {{/each}}

                                </section>

                                {{/if}}

                                {{#each tags}}{{#ifCond type "property"}}
                                {{registerVariable "displayProperties" true}}
                                {{/ifCond}}{{/each}}

                                {{#if displayProperties}}

                                <section class="properties">

                                    <h3>Properties</h3>

                                    {{#each tags}}

                                        {{#ifCond type "property"}}

                                            <p>
                                                <b>{{name}}</b>
                                                {{#each types}}
                                                    <code>{{.}}</code>
                                                {{/each}}
                                                {{#if optional}}
                                                    <span class="label label-default">Optional</span>
                                                {{/if}}
                                            </p>
                                            <p>{{{description}}}</p>

                                        {{/ifCond}}

                                    {{/each}}

                                </section>

                                {{/if}}

                                <section class="examples">

                                    <h3>Examples</h3>

                                    {{{description.body}}}

                                </section>

                                <section class="code">

                                    <h3>Code</h3>

                                    <pre><code>{{code}}</code></pre>

                                </section>

                                <h3>Returns</h3>

                                {{#each tags}}

                                    {{#ifCond type "return"}}

                                        <p>{{#each types}}<code>{{.}}</code> {{/each}} {{{description}}}</p>

                                    {{/ifCond}}

                                {{/each}}

                            </div>

                        {{/if}}

                    {{/unless}}

                {{/each}}

                {{/each}}

            </div>

        </div>

    </div>

</div>

<footer class="bs-footer">

    <div class="container">

        <p>Documentation generated with <a href="https://github.com/neogeek/doxdox">doxdox</a>.</p>

    </div>

</footer>

</body>
</html>
